- content_for :title, "Friends"
%h1 Friends List
#friends
  %table.table.table-striped.table-bordered.table-hover
    %thead.table-dark
      %tr
        %th First Name
        %th Last Name
        %th Email
        %th Phone
        %th Twitter
        %th
    %tbody
      - @friends.each do |friend|
        %tr
          %td{:id => "1"}= friend.first_name
          %td{:id => "2"}= friend.last_name
          %td{:id => "3"}= friend.email
          %td{:id => "4"}= friend.phone
          %td{:id => "5"}= friend.twitter
          %td{:id => "6"}= link_to "Show", friend, class: "btn btn-primary"
= link_to "New friend", new_friend_path
